*,
body,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 2000px;
}

.buttonSection {
    width: 200px;
    min-height: 200px;
    background-image: url('/img/bot.jpg');
    background-position: center;
    background-size: cover;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.chatBot {
    display: none;
}

.chatBotExpandido {
    display: inline;
}

.chatBotContraido {
    display: none;
}

.chatBot iframe {
    width: 100%;
    height: 100%;
}

.conteudo-x {
    position: absolute;
    height: 30px;
    width: 50px;
    background-color: red;
    right: 0px;
    top: 0px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #fff;
    display: none;
    transition: 1s;
}

/*****************************/

.expande {
    animation: expandir 1s ease;
    width: 500px;
    background-image: none;
    background-color: transparent;
    border-radius: 8px;
    height: 500px;
}

.contrai {
    animation: contrai 1s ease;
    width: 200px;
    height: 200px;
    background-image: url('/img/bot.jpg');
    background-position: center;
    background-size: cover;
}


@keyframes expandir {
    0% {
        width: 200px;
        height: 200px;

    }

    100% {
        width: 500px;
        height: 500px;

    }
}


@keyframes contrai {
    0% {
        width: 500px;
        height: 500px;

    }

    100% {
        width: 200px;
        height: 200px;
    }
}

@media only screen and (max-width: 768px) {

    @keyframes expandir {
        0% {
            width: 200px;
            height: 200px;

        }

        100% {
            width: 80%;
            height: 80%;

        }
    }

    @keyframes contrai {
        0% {
            width: 80%;
            height: 80%;

        }

        100% {
            width: 200px;
            height: 200px;
        }
    }

    .expande {
        width: 80%;
        height: 80%;
    }
}